.container {
    position: relative;
}

.box {
    height: 200px;
    width: 200px;
    margin: 5px;
    background-color: green;
    border: 1px solid black;
    font-size: 20px;
    color: white;
}

.box-1{
    position: fixed;
    top: 20px;
    right: 100px;
    opacity: 0.5;
    background-color: yellow;
    color: black;
}

/* absolute */
.box-5 {
    position: absolute;
    /* top: 100px;
    left: 100px; */
    top: 20px;
    right: 100px;
    opacity: 0.5;
    background-color: red;

}

/* relative */
.box-3 {
    position: relative;
    top: 100px;
    left: 100px;
}


.box-8 {
    position: sticky;
    top: 0;
}

section .box {
    border: 5px solid orange !important;
}

section > div {
    padding: 10px;
    border: 5px solid red;
    border-radius: 8px;

}

section > div > p {
    /* styles */
}


#box-14 + p{
    font-size: 48px;
}

#box-14 ~ .box,p {
    font-size: 30px;
    color: yellowgreen;
}

.box:hover{
    background-color: blueviolet;
}

/* Visited Links*/
a:visited {
    color: green;
}

/* Unvisited Links*/
a{
    color: red;
}

p::first-line {
    color: blue;
}

p::first-letter {
    font-size: 60px;
}

p::before {
    content: url("https://picsum.photos/id/118/1500/1000");
    background-size: 40px;
    display: inline-block;
    height: 50px;
    width: 50px;

}

h2::before {
    content: url('image');
}


/*
postion: 1. static - default - normal document flow
         2. relative
         3. absolute
         4. fixed
         5. sticky


*/