.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: red;
    text-align: center;
    line-height: 100px;
}